body{
/*Обнуление отступов*/
  padding: 0;
  margin: 0;
/*Свойства текста */
/*веб-безопасный шрифт и семейство шрифтов*/
  font-family: "PT Sans Narrow", "Arial", "sans-serif";

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
/*Задник*/
  background-color: #f2f2f2;
}
/*визуально спрятанный*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  }
/*картинка задника*/
.welcome{
  background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
  background-position: center 451px, top center;
  background-repeat: no-repeat;
  background-size: 100% 59px, cover;
  background-color: #7aaace;
}
/*фороматирование ссылок*/
a{
  text-decoration: none;
  color:#000000;
}
/*форматирования текста основного навигатора*/
.site-navigation{
  font-size: 14px;
  line-height: 26px;
  list-style: none;
  font-weight: bold;
  background-color: #ffffff;
}
/*интерактив ссылок основной навигации*/
.site-navigation a:hover,
.site-navigation a:focus{
  color:#81b3d2;
  /*outline: none;*/
}
.site-navigation a:active{
  color: rgba(0, 0, 0, 0.3);
}
/*форматирования текста слогана*/
.features-slogan{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: #ffffff;
  margin: 0;
}
/*форматирование текста рекламной заманухи*/
.features-steep{
  font-size: 14px;
  line-height: 26px;
  background-color: #ffffff;
}
/*интерактив кнопок "Поиск" и "Найти"*/
.search-button-call,
.search-button{
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
}
/*кнопка "Поиск"*/
.search-button-call{
  background-color: #766357;
  border: none;
}
                          /*наведение, фокус*/
.search-button-call:hover,
.search-button-call:focus{
  background-color:#604e43;
  color: rgb(255, 255, 255);
  /*outline: none;*/
}
                          /*нажатие*/
.search-button-call:active{
background-color: #503e33;
outline: none;
color: rgba(255, 255, 255, 0.302);
}
/*кнопка "Найти"*/
.search-button{
  background-color: #81b3d2;
  border: none;
}

                        /*наведение, фокус*/
.search-button:hover,
.search-button:focus{
  background-color:#669ec0;
  color: rgb(255, 255, 255);
  /*outline: none;*/
}

                        /*нажатие*/
.search-button:active{
background-color: #5496bd;
outline: none;
color: rgba(255, 255, 255, 0.302);
}
/*оформление формы - заезд-выезд*/
/*не нажато*/
.search-date-arrival,
.search-date-departure,
.search-adults,
.search-children,
.search-button-calendar,
.search-button-sign{
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: normal;
  font-weight: bold;
}
                            /*Интерактив полей заезда-выезда*/
                            /*Наведение*/
.search-date-arrival:hover,
.search-date-departure:hover{
  background-color: #ebebeb;
  border: none;
  outline: none;
}
                              /*Фокус*/
.search-date-arrival:focus,
.search-date-departure:focus{
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e5e5;
/*outline: none;*/
}
/*Оформление формы взрослые-дети*/
/*не нажато*/
.search-button-sign{
font-size: 11px;
color:#a9a9a9;
background-color: #f2f2f2;
}

/*Наведение*/
.search-button-sign:hover,
.search-button-sign:focus{
color: #000000;
}

/*нажатие*/
.search-button-sign:active{
color: #81b3d2;
}

/*Оформление кнопок отелей каталога*/
/*не нажато*/
.button-deploy{
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color:#ffffff;
  background-color: #81b3d2;
}
/*наведение, фокус*/
.button-deploy:hover,
.button-deploy:focus{
background-color:#669ec0;
}
/*нажатие*/
.button-deploy:active{
background-color: #5496bd;
color: rgba(255, 255, 255, 0.302);
}

/*кнопка "Забронировать"*/
/*не нажато*/
.button-book{
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color:#ffffff;
  background-color: #766357;
}
  /*наведение, фокус*/
  .button-book:hover,
  .button-book:focus{
  background-color:#604e43;
  }
  /*нажатие*/
  .button-book:active{
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.302);
  }

.catalog-item{
  list-style: none;
}

/*название гостиницы*/
/*не наведено*/
.catalog-category a{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color:#000000;
}

/*наведение, фокус*/
.catalog-category a:hover,
.catalog-category a:focus{
color:#81b3d2;
}

/*нажатие*/
.catalog-category a:active{
color: rgba(0, 0, 0, 0.302);
}

/*Инстаграмм*/
.hashtag{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}


/*Соцсети*/
.footer-social ul{
list-style: none;
}
.social-icons{
  background-color: #81b3d2;
}

/*Наведение*/
.social-icons:hover,
.social-icons:focus{
  background-color: #669ec0;
}

/*нажатие*/
.social-icons:active{
background-color: #5496bd;
}

/*Разработчик*/
.footer-copyright{
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  }

/*-----------------------------Макросетка-------------------------------------*/
.container{
  width: 1200px;
  margin: 0 auto;
  }

.main-header-logo{
  width: 140px;
  height: 71px;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left:-70px;
  }

.site-navigation{
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  }
.site-navigation li{/*смещен весь текст, необходимо совместить*/
  /*width: 240px;*/
  padding: 0 70px;
  padding-top: 15px;
  padding-bottom: 16px;
}

  .site-navigation li:nth-child(3){
  margin-left: auto;
  }

.welcome-picture{
  display: block;
  margin: 0 auto;
  width: 458px;
  height: 352px;
}

.welcome{
  padding-top: 76px;
  height:432px;
}

.features{
background-color: #ffffff;
}

.features-slogan{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
}

.features-steep{
  text-align: center;
  padding-bottom: 35px;
  margin: 0;
}

.interest{
background-color: #ffffff;
}

.interest-ask{
  text-align: center;
  padding-top: 55px;
  padding-bottom: 35px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.interest-date{
  text-align: center;
  padding-bottom: 135px;
}

.result{
  display: flex;
  justify-content: flex-start;
  background-color: #ffffff;
  align-items:center;
  /*border-bottom: 1px solid #e5e5e5;*/
}

.result-found{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 70px;
}
.sort{
  padding-left: 50px;
}
.criterion-sort{
  list-style: none;
  display: flex;
}

.sort, .criterion-sort{
  font-size: 12px;
  line-height: 18px;
  padding-top: 35px;
  padding-bottom: 35px;
}
.criterion-priсe{
  padding-left: 40px;
  color: rgb(129, 179, 210);
}

.criterion-type,
.criterion-rating{
  padding-left: 30px;
  color: rgba(0, 0, 0, 0.302);
  text-decoration: underline dotted;
}

.up-down{
  margin-left: auto;
  margin-right: 105px;
}

.hotels{
background-color: #ffffff;
/*border-top: 1px solid #e5e5e5;*/
}

.catalog-list{
  /*border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;*/
  margin: 0;
  padding-left: 0;
}
.catalog-item{
  padding-left: 40px;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;

}
.main-footer{
  display: flex;
  justify-content: space-between;
  align-items:center;
  background-color: #ffffff;
}

.hashtag{
  width: 240px;
  margin-left: 70px;
}

.footer-copyright{
  width: 240px;
  margin-right: 70px;
  padding-top: 35px;
  padding-bottom: 40px;
}
